body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.mockup {
  width: 661px;
  height: auto;
  margin-top: 60px;
  margin-left: 7vw;
}

.mockUpVisible {
  width: 661px;
  height: auto;
  margin-top: 60px;
  animation-name: mockupAnim;
  animation-duration: 3s;
  margin-left: 7vw;
}

@keyframes mockupAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

.section2Visible1 {
  animation-name: visibleAnim1;
  animation-duration: 3s;
}
@keyframes visibleAnim1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section2Visible2 {
  animation-name: visibleAnim2;
  animation-duration: 4s;
}
@keyframes visibleAnim2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section2Visible3 {
  animation-name: visibleAnim3;
  animation-duration: 5s;
}
@keyframes visibleAnim3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.playlist {
  width: 100%;
}

.playlist-item.selected {
  font-weight: bold;
}

.playlist-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.playlist-item {
  border-bottom: 1px solid white;
  cursor: pointer;
  padding: 1em;
}

.wave-center {
  margin-top: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0c31;
}
.wave {
  width: 5px;
  height: 100px;
  background: #f18860;
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
